.body_set{
  /*background-color: rgba(100,100,100, 0.1);*/
  overflow-y: hidden;
}

.header_container {
  width: 100%;
  height: 10%;
}

.section_container {
  width: 100%;
  height: auto;
  float: left;
}
.article_container {
  width: 36%;
  float: left;
  margin-left: 4%;
  margin-top: 2%;
  border-left: 4px solid rgb(0,187,45);
  padding-left: 1%;
}

.nav_container {
  width: 10%;
  float: left;
  margin-top: 2%;
  padding: 3%;
  padding-top: 3%;
  padding-bottom:4% ;
  /*border-bottom: 2.3px solid rgb(40,114,51);*/
  overflow-y: scroll;
}

.footer1 {
  width: 99.89%;
  height: auto;
  float: left;
}
.footer2 {
  width: 99%;
  margin-top: 450px;
  padding: auto ;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  border-radius: 2px;
}

/*menu orizzontale prima_pagina.html*/
.uMenu {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    /*linear-gradient(to left, rgba(71,41,69, 0.9),rgb(15,23,34),rgba(71,41,69,0.9));*/
}
.aMenu {
  display: block;
  color: white;
  padding: 14px 18px;
  text-decoration: none;
  float: left;
}
.aMenu:hover{
  background-color: rgb(15,23,34);
}
.srchMenu {
  display: block;
  color: white;
  padding: 12.5px 18px;
  text-decoration: none;
  float: right;
}
.srchMenu >input{
  background: rgb(240,240,240);
}
.btnMenu {
  display: block;
  color: #333;
  padding: 5px 18px ;
  text-decoration: none;
  float: right;
  margin: 9px 10px auto auto;
}
#ul{
  background: #333;
  border-top: 2px solid rgb(40,114,51);
  border-left: 2px solid rgb(0,187,45);
}

/*barra menu pagina_utente.html*/
.uM_Utente{
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #333;
}
.aM_Utente{
  display: block;
  color: white;
  padding: 24px 35px;
  text-decoration: none;
  float: left;
}
.aM_Utente:hover{
  background-color: rgb(15,23,34);
}
#srchM_Utente {
  padding: 22px 18px;
}
#btnM_Utente {
  padding: 7px 20px ;
  margin: 17px 10px auto auto;
}
#b_Utente{
  margin-top: 20px;
  border-top: 2px solid rgb(40,114,51);
  border-left: 2px solid rgb(0,187,45);
  background: #333;
}
/* menu laterale */
.b a{
  margin-top: 20px;
  margin-left: 5px;
  border-top: 2px solid rgb(40,114,51);
  border-left: 2px solid rgb(0,187,45);
  background: #333;
}

.img_social{
  float: right;
  padding-top: 3px;
  padding-right: 18px;
}

.input_Utente{
  width: 90%;
  padding: 13px 20px;
  border-radius: 5px;
  border-color: 1px solid #ccc;
  margin: 8px 0 15px 0 ;
}
.input_Utente[type=submit]{
  width: 96%;

  border: 2px solid rgba(0,0,200,0.5);
}

.table{
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
.table th{
  border: 2px solid black;
  padding: 5px;
}
.table td{
  border: 1px solid grey;
  padding: 4px;
}
.table input{
  width: 100%;
  text-align: center;
  border: none;
  background-color: inherit;
}
.table tfoot{
  background-color: rgba(120,120,120,0.5);
}
.btn_Tbl{
  width: 25%;
  border: 2px solid rgba(0,0,200,0.5);
  padding: 5px 20px;
  border-radius: 5px;
  margin-left: 39.5%;
  margin-top: 15px;
}
