.titolo {
  text-align: left;
  font-family: serif;
  color: black;
  font-size: 40px;
  margin-top: 8px;
  padding-bottom: 5px;
}

.background_color1{
  background-color: rgba(0, 0, 200, 0.1);
}

.font_1{
  font-style: italic;
  font-size: 18px;
}
.font_2{
  font-style:serif;
  font-size: 19px;
}
.img_social a{
  text-decoration: none;
  margin-left: 2px;
}
.img_social img{
  width: 33px;
  height: 33px;
}
